body {
  background: #04a1bf;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

.titleContainer {
  margin: 30px 0px;
  font-weight: bold;
}

h1 {
  color: #ffffff;
  font-weight: 800px;
}

p {
  font-weight: 600px;
}

#first {
  margin-top: 10px;
  color: #ffcd5d;
}

#second {
  color: #51df70;
}

#third {
  color: #025f70;
  margin-bottom: 30px;
}

#enter {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  color: #04a1bf;
  background-color: #025f70;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
}

#enter:hover {
  background-color: #02798f;
  color: #ffcd5d;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
  width: 90%;
  padding-left: 0;
}


.listItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.taskContainer {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #4eb9cd;
  line-break: anywhere;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

li:hover {
  background: #76cfe0;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

input {
  outline:none;
  border-radius: 5px;
  min-width: 65%;
  padding: 5px;
  border: none;
  height: 20px;
}

.delete {
  display: none;
}

@media only screen and (max-device-width: 748px) {
  li {
    width: auto;
    min-width: 600px;
  }
}

.deleteAllButton{
  font-family: "Exo 2", sans-serif;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  color: #04a1bf;
  background-color: #025f70;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: normal;
}

.deleteAllButton:hover {
  background-color: #02798f;
  color: #ffcd5d;
}

.fa-shopping-basket{
  padding-left: 10px;
}

.checked{
  background: #51df70 !important;
  color: #00891e;
}
